<template name="programming">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-2">
        <img src="programming.jpg" alt="" class="img img-responsive" id="programming"/>
        <!--{{> pictureupload}}-->
      </div>
      <div class="col-sm-5">
        <h2 style="text-align: center">Programming</h2>
        {{#if isAdmin}}
          {{> editableText collection='programming' field='content' context=programming options=optionsHelper}}
        {{else}}
          {{{programming.content}}}
        {{/if}}
        
        <br><br>
        <h4>Important Information:</h4>
        <table style="width:100%" id="udltable">
            <tr>
            <td style="background-color: none; color: black; margin: 1px solid black;"><a href="/results">Results</a></td>
            </tr>
            <tr><td style="background-color: none; color: black; margin: 1px solid black;"><a href="/schedule">Schedule</a></td></tr>
            <tr><td style="background-color: none; color: black; margin: 1px solid black;"><a href="/tournaments">About Tournaments</a></td>
          </tr>
            <tr><td style="background-color: none; color: black; margin: 1px solid black;"><a href="/camp">Camp</a></td></tr>
        </table>
      </div>
    </div>
  </div>
</template>

<template name="results">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" style="background-color: black; color: white; height: 800px;" id="side">
        <h3 style="text-decoration: underline">Tournaments</h3>
        {{#each showingresults}}
          {{> showresult}}
        {{/each}}

        {{> addresult}}
      </div>
      <div class="col-sm-8" id="main">
        <div class="well" style="height: 800px;">
          {{#if isNull}}
          <table style="width: 100%; height: 100%">
            <tr>
              <td style="color: black;">Select a Tournament to see results</td>
            </tr>
          </table>
          {{else}}
          <iframe class="embed-responsive-item full-width" src={{linklol}} style="height:100%; width: 100%;"></iframe>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="showresult">
  <p class="resultlist">{{name}}</p>
</template>

<template name="addresult">
  <div class="well" style="color: black;">
    <form>
      <div class="form-group">
        <label for="inputName">Tournament Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="name">
      </div>
      <div class="form-group">
        <label for="inputLink">Link to Embed</label>
          <input type="text" class="form-control" id="inputLink" placeholder="link">
      </div>
      <div class="form-group">
        <label for="inputDate">Date(Month/Day/Year)</label>
        <input type="number" style="height: 30px;" class="form-control" id="inputMonth" placeholder="Month">
        <input type="number" style="height: 30px;" class="form-control" id="inputDay" placeholder="Day">
        <input type="number" style="height: 30px;" class="form-control" id="inputYear" placeholder="Year">
      </div>
      <button type="submit" class="btn btn-default">Add To List</button>
    </form>
  </div>
</template>

<template name="schedule">
  <div class="container-fluid">
    <div class="row" style="margin-bottom: 5px;">
      <div class="col-sm-8 col-sm-offset-2">
        <h2>Schedule</h2>
        {{#if isAdmin}}
          {{> editableText collection='schedule' field='content' context=schedule options=optionsHelper}}
        {{else}}
          {{{schedule.content}}}
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="embed-responsive embed-responsive-16by9"><iframe src="
http://urbandebate.force.com/volunteers/GW_Volunteers__Jobcalendar?campaignId=701E0000000oZaJ&ShowCampaignHierarchy=1" height="750" width="850" frameborder="0" scrolling="false"></iframe></div>
      </div>
    </div>
  </div>
</template>

<template name="tournaments">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>WUDL Tournaments</h2>
        <br>
        <div class="row">
          <div class="col-sm-5">
            <img src="tournament2.jpg" class="img img-responsive">
          </div>
          <div class="col-sm-7" style="line-height: 30px;">
            {{#if isAdmin}}
              {{> editableText collection='tournaments1' field='content' context=tournaments1 options=optionsHelper}}
            {{else}}
              {{{tournaments1.content}}}
            {{/if}}
          </div>
        </div>
        <br>
        <div class="row" style="line-height: 40px;">
          {{#if isAdmin}}
              {{> editableText collection='tournaments2' field='content' context=tournaments2 options=optionsHelper}}
            {{else}}
              {{{tournaments2.content}}}
            {{/if}}
        </div>
        <br>
        <div class="row">
          <div class="col-sm-7" style="line-height: 30px;">
            {{#if isAdmin}}
              {{> editableText collection='tournaments3' field='content' context=tournaments3 options=optionsHelper}}
            {{else}}
              {{{tournaments3.content}}}
            {{/if}}
          </div>
          <div class="col-sm-5">
            <img src="tournament1.jpg" class='img img-responsive'>
          </div>
        </div>
        <br>
        <a href="/schedule" class="center-block">Click here for tournament schedule</a>
        <br>
      </div>
    </div>
  </div>
</template>

<template name="camp">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 style="text-align: center">Matthew H. Ornstein Washington Summer Debate Institute</h2>
        <br>
        <img src="camp.jpg" class="img img-responsive">
        <br>
        <h3 style="color: black; text-align: center">Camp Overview</h3>
        {{#if isAdmin}}
          {{> editableText collection='camp' field='content' context=camp options=optionsHelper}}
        {{else}}
          {{{camp.content}}}
        {{/if}}
        <br>
        <h3 style="color: black; text-align: center">Application Information</h3>
        <a href="#">Students</a><br>
        <a href="#">Faculty</a>
        <br>
        {{#if isAdmin}}
          {{> editableText collection='campapp' field='content' context=campapp options=optionsHelper}}
        {{else}}
          {{{campapp.content}}}
        {{/if}}
        <br>
        <h3 style="color: black; text-align: center">Details</h3>
        {{#if isAdmin}}
          {{> editableText collection='campschedule' field='content' context=campschedule options=optionsHelper}}
        {{else}}
          {{{campschedule.content}}}
        {{/if}}
        <br>
      </div>
    </div>
  </div>
</template>








