<template name="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2>About Us</h2>
        {{#if isAdmin}}
          {{> editableText collection='about' field='content' context=about options=optionsHelper}}
        {{else}}
          {{{about.content}}}
        {{/if}}
      </div>
    </div>
    <div class="row" style="padding-bottom: 10px">
      <div class="col-sm-4 col-sm-offset-2">
        <a href="/meet-the-team"><div class="container button medium" id="meettheteam">
          Meet the team
        </div></a>
      </div>
      {{#if isAdmin}}
      <button>Change Pic</button>
      {{/if}}
      <div class="col-sm-4">
        <a href="#"><div class="container button medium" style="background-image: url('capitol.jpg')">
          The UDL Model
        </div></a>
      </div>
      {{#if isAdmin}}
      <button>Change Pic</button>
      {{/if}}
    </div>
  </div>
</template>
