<template name="pictureupload">
	{{#if isAdmin}}
	<form>
		<input type="file" id="userimage" name="userimage"/> 
    	<button type="submit" class="btn btn-default">Submit</button>
	</form>
    {{/if}}
</template>

<template name="fileupload">
	<form>
		<input type="file" id="userfile" name="userfile"/> 
    	<button type="submit" class="btn btn-default">Submit</button>
	</form>
</template>

<template name="fileuploadmeeting">
	<form>
		<input type="file" id="userfile" name="userfile"/> 
    	<button type="submit" class="btn btn-default">Submit</button>
	</form>
</template>

<template name="fileuploadteacher">
	<form>
		<input type="file" id="userfile" name="userfile"/> 
    	<button type="submit" class="btn btn-default">Submit</button>
	</form>
</template>

<template name="fileuploadevidence">
	<form>
		<input type="file" id="userfile" name="userfile"/> 
    	<button type="submit" class="btn btn-default">Submit</button>
	</form>
</template>

<template name="fileuploadprof">
	<form>
		<input type="file" id="userfile" name="userfile"/> 
    	<button type="submit" class="btn btn-default">Submit</button>
	</form>
</template>