<template name="involve">
  <div class="container">
  	<div class="row">
  		<div class="col-sm-10 col-sm-offset-1">
  			<h2>Get Involved</h2>
  			{{#if isAdmin}}
		        {{> editableText collection='involve1' field='content' context=involve1 options=optionsHelper}}
		    {{else}}
		        {{{involve1.content}}}
		    {{/if}}
		    <br>
		    <h4 style="color: black">Debate Judging</h4>
		    {{#if isAdmin}}
		        {{> editableText collection='involve3' field='content' context=involve3 options=optionsHelper}}
		    {{else}}
		        {{{involve3.content}}}
		    {{/if}}
		    <br>

		    <h4 style="color: black">Debate Coaching</h4>
		    {{#if isAdmin}}
		        {{> editableText collection='involve2' field='content' context=involve2 options=optionsHelper}}
		    {{else}}
		        {{{involve2.content}}}
		    {{/if}}
		    <br>
		    
		    <h4 style="color: black">Explore other debate activities</h4>
		    {{#if isAdmin}}
		        {{> editableText collection='involve4' field='content' context=involve4 options=optionsHelper}}
		    {{else}}
		        {{{involve4.content}}}
		    {{/if}}
		    <br>
		    <h4 style="color: black">Be a Donor!</h4>
		    {{#if isAdmin}}
		        {{> editableText collection='involve5' field='content' context=involve5 options=optionsHelper}}
		    {{else}}
		        {{{involve5.content}}}
		    {{/if}}
		    <br>
		    {{> involvefooter}}
		    <div class="embed-responsive embed-responsive-16by9"><iframe src="
http://urbandebate.force.com/volunteers/GW_Volunteers__VolunteersJobListingFS?campaignId=701E0000000oZaJ&ShowCampaignHierarchy=1&monthstoshow=4" height="750" width="850" frameborder="0" scrolling="false"></iframe></div>
		    <br>
  		</div>
  	</div>
  </div>
</template>

<template name="involvefooter">
	<h4 style="color: black;">Volunteer Policies</h4>
	{{#if isAdmin}}
		{{> editableText collection='volunteerpolicies' field='content' context=volunteerpolicies options=optionsHelper}}
	{{else}}
		{{{volunteerpolicies.content}}}
	{{/if}}
	<br>
</template>
