<template name="navbar">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">
					<img src="images/wudl.jpg">
				</a>
			</div>
			<ul class="nav navbar-nav navbar-justified">
				
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Programming</a></li>
				<li><a href="#">For Teachers</a></li>
				<li><a href="#">For Students</a></li>
				<li><a href="#">Impact</a></li>
				<li><a href="#">Get Involved</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><img src="images/naudl.jpg" class="img-responsive"></li>
			</ul>
		</div>
	</nav>
</template>
