<template name="teachers">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-2">
        <h2 style="text-align: center">For Teachers</h2>
        <div class="row" style="padding-top: 10px">
          <div class="container-fluid col-sm-7">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="container col-sm-5">
            <img src="teacher.jpg" class="img img-responsive" />
          </div>
          <div class="container col-sm-12">
            <h4 style="text-align: center">Feeling Lost?</h4>
            <h5 style="text-align: center">Check out our resources!</h5>
          </div>
          <div class="col-sm-4" style="padding-top: 5px; padding-bottom: 5px">
            <a href="#"><div class="container button medium" style="background-image: url('meeting resources.jpg')">
              Meeting Resources
            </div></a>
          </div>
          <div class="col-sm-4" style="padding-top: 5px; padding-bottom: 5px">
            <a href="#"><div class="container button medium" style="background-image: url('coaching resources.jpg')">
              Coaching Resources
            </div></a>
          </div>
          <div class="col-sm-4" style="padding-top: 5px; padding-bottom: 5px">
            <a href="#"><div class="container button medium" style="background-image: url('meeting resources.jpg')">
              Meeting Resources
            </div></a>
          </div>
          <div class="col-sm-4" style="padding-top: 5px; padding-bottom: 5px">
            <a href="#"><div class="container button medium" style="background-image: url('meeting resources.jpg')">
              Meeting Resources
            </div></a>
          </div>
          <div class="col-sm-4" style="padding-top: 5px; padding-bottom: 5px">
            <a href="#"><div class="container button medium" style="background-image: url('meeting resources.jpg')">
              Meeting Resources
            </div></a>
          </div>
          <div class="col-sm-4" style="padding-top: 5px; padding-bottom: 5px">
            <a href="#"><div class="container button medium" style="background-image: url('meeting resources.jpg')">
              Meeting Resources
            </div></a>
          </div>
        </div>
        <br>
      </div>
      <div class="col-sm-3 pull-right">
        HELLO MATE
      </div>
    </div>
  </div>
</template>
