<template name="teachers">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-2" id='main'>
        <h2 style="text-align: center">For Teachers</h2>
        <div class="row" style="padding-top: 10px">
          <div class="container-fluid col-sm-7">
            {{#if isAdmin}}
              {{> editableText collection='teachers' field='content' context=teachers options=optionsHelper}}
            {{else}}
              {{{teachers.content}}}
            {{/if}}
          </div>
          <div class="container col-sm-5">
            <img src="coachingbutton.jpg" class="img img-responsive" />
          </div>
          <div class="container col-sm-12">
            <h4 style="text-align: center">Feeling Lost?</h4>
            <h5 style="text-align: center">Check out our resources!</h5>
          </div>
          <div class="col-sm-4" style="padding-top: 5px; padding-bottom: 5px">
            <a href="/professionaldevelopment"><div class="container button medium" style="background-image: url('PD.jpg')">
              Professional Development
            </div></a>
          </div>
          <div class="col-sm-4" style="padding-top: 5px; padding-bottom: 5px">
            <a href="/coachingresources"><div class="container button medium" style="background-image: url('coaching resources.jpg')">
              Coaching Resources
            </div></a>
          </div>
          <div class="col-sm-4" style="padding-top: 5px; padding-bottom: 5px">
            <a href="/topicresources"><div class="container button medium" style="background-image: url('topic research.jpg')">
              Topic Research
            </div></a>
          </div>
          <div class="col-sm-4" style="padding-top: 5px; padding-bottom: 5px">
            <a href="/evidence"><div class="container button medium" style="background-image: url('evidencebutton.jpg')">
              Evidence Zone
            </div></a>
          </div>
          <div class="col-sm-4" style="padding-top: 5px; padding-bottom: 5px">
            <a href="/meeting"><div class="container button medium" style="background-image: url('meeting resources.jpg')">
              Meeting Resources
            </div></a>
          </div>
          <div class="col-sm-4" style="padding-top: 5px; margin-bottom: 1px;">
            <a href="/startteam"><div class="container button medium" style="background-image: url('start team.jpg')">
              Starting a Team
            </div></a>
          </div>
        </div>
        <br>
      </div>
      <div class="col-sm-3 pull-right" style="background-color: black; padding-bottom: 5px; color: white;" id="side">
        {{#each teacherquote}}
                {{#if isAdmin}}
                <button class="glyphicon glyphicon-remove" id='{{this.quote}}' style="color: black;"></button>
                <br>
                {{/if}}
        {{>displayquote}}
        {{/each}}
        {{#if isAdmin}}
          {{>addquote2}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="addquote2">
  <div class="well" style="color: black;">
    <form>
      <div class="form-group">
        <label for="inputQuote">Quote</label>
          <input type="text" class="form-control" id="inputQuote" placeholder="quote">
      </div>
      <div class="form-group">
        <label for="inputAuthor">Author</label>
          <input type="text" class="form-control" id="inputAuthor" placeholder="author">
      </div>
      <button type="submit" class="btn btn-default">Add To List</button>
    </form>
  </div>
</template>
